version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env  
    ports:
      - "5001:5001"
    depends_on:
      - db  
  
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres  
      POSTGRES_PASSWORD: example  
      POSTGRES_DB: mydatabase  
    ports:
      - "5432:5432"
