version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env  
    ports:
      - "5001:5001"
    depends_on:
      - db  
    environment:
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - DATABASE_URL=${DATABASE_URL}
  
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres  
      POSTGRES_PASSWORD: example  
      POSTGRES_DB: mydatabase  
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: